@import url('https://unpkg.com/@catppuccin/palette/css/catppuccin.css');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    font-family: Rubik;
}

:root {
    color: var(--ctp-macchiato-text);
    background-color: var(--ctp-macchiato-base)
}

body {
    border: 1px solid var(--ctp-macchiato-mantle);
    padding: 0;
    margin: 0;
}